.container {
  padding: 10px;
  .textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    font-family: Roboto Mono, Consolas, Courier New, monospace;
    color: #666;
    padding: 10px;
    resize: vertical;
    height: 200px;
    min-height: 200px;
    overflow-y: scroll;
  }
  .code {
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    overflow: auto;
    color: rgb(34, 171, 40);
    tab-size: 4;
  }
}
